/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.outer_box {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left, white, #c7c3c5);
}

.inner_box {
    z-index: 2;
    margin:  auto;
    width: 400px;
    position: relative;
    top: 25%;
    transform: translateY(-20%);
    padding: 20px 40px;
    background-color: #ffffff09;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #7A2548;
    backdrop-filter: blur(8px);


}

h1 {
    font-size: 2.5rem;
    color: #704c5e;
}

.sign_up_header p {
    font-size: 1rem;
    color: #82586D;

}

.sign_up_body {
    margin: 20px 0px;
}

.sign_up_body p {
    margin: 10px 0px;

}

.sign_up_body p label {
    display: block;
    font-weight: bold;
}

.sign_up_body p input {
    width: 100%;
    padding: 10px;
    border: 2px solid rgb(143, 139, 139);
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 4px;
}

.sign_up_body p input[type="submit"] {
    background-color: rgb(54, 54, 184);
    border: none;
    color: white;
    cursor: pointer;
}

.sign_up_body p input[type="submit"]:hover {
    background-color: rgb(49, 49, 167);
}

.sign_footer {
    color: #555;
    text-align: center;
}

.sign_footer p a {
    color: #2773a5;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(to top right, rgba(181, 177, 177, 0.678), white);
    position: absolute;

}

.c1 {
    top: 50px;
    left: 40px;
}

.c2 {
    bottom: 50px;
    right: 50px;
} */



@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    /* border: 0.5px solid black; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.outer_box {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left, #4B6CB7, #182848); /* Updated background gradient */
}

.inner_box {
    z-index: 2;
    margin:  auto;
    width: 400px;
    position: relative;
    top: 25%;
    transform: translateY(-20%);
    padding: 20px 40px;
    background-color: rgba(255, 255, 255, 0.09); /* Updated background color with transparency */
    border-radius: 5px;
    box-shadow: 2px 2px 5px #7A2548;
    backdrop-filter: blur(8px);
}

h1 {
    font-size: 2.5rem;
    color: #704c5e;
}

.sign_up_header p {
    font-size: 1rem;
    color: #82586D;
}

.sign_up_body {
    margin: 20px 0px;
}

.sign_up_body p {
    margin: 10px 0px;
}

.sign_up_body p label {
    display: block;
    font-weight: bold;
}

.sign_up_body p input {
    width: 100%;
    padding: 10px;
    border: 2px solid rgb(143, 139, 139);
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 4px;
}

.sign_up_body p input[type="submit"] {
    background-color: #3654B8; /* Updated background color for the submit button */
    border: none;
    color: white;
    cursor: pointer;
}

.sign_up_body p input[type="submit"]:hover {
    background-color: #3131A7; /* Updated background color on hover */
}

.sign_footer {
    color: #555;
    text-align: center;
}

.sign_footer p a {
    color: #2773a5;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(to top right, rgba(181, 177, 177, 0.678), white);
    position: absolute;
}

.c1 {
    top: 50px;
    left: 40px;
}

.c2 {
    bottom: 50px;
    right: 50px;
}
